@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 800;
  src: url('../assets/fonts/MerriweatherSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Clash';
  font-weight: 600;
  src: url('../assets/fonts/ClashDisplaySemibold.woff');
}

.input-bordered:focus {
  border-color: hsla(var(--bc) / 0.2);
  box-shadow: none;
}

.hover {
  @apply transition-all;
}

.deemphasized {
  color: hsla(var(--nc) / 0.6);
}

.btn {
  @apply normal-case;
}

:root {
  color-scheme: light dark;
}

.react-datepicker__day {
  @apply font-heading;
}
