@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 800;
  src: url('../assets/fonts/MerriweatherSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'Clash';
  font-weight: 600;
  src: url('../assets/fonts/ClashDisplaySemibold.woff');
}

input[type='checkbox'] {
  @apply checkbox;
  @apply checkbox-primary;

  @apply bg-base-200;
}

.input-bordered:focus {
  border-color: hsla(var(--bc) / 0.2);
  box-shadow: none;
}

.badge-accent,
.btn-accent:not(.fake-checkbox) {
  background: hsla(var(--a) / 0.2);
  border-color: transparent;
}

.btn-accent:hover {
  background: hsla(var(--af) / 0.3);
  border-color: transparent;
}

.hover {
  @apply transition-all;
}

.deemphasized {
  color: hsla(var(--nc) / 0.6);
}

.border-normal {
  border-color: hsla(var(--b3) / 1);
}

/* .textarea-bordered:focus-within,
.textarea-ghost:focus-within {
  outline: 2px solid hsla(var(--bc) / 0.2);
  outline-offset: 2px;
} */

:root {
  color-scheme: light dark;
}
